In [ ]:
#!pip install pandas

In [ ]:
#pip install --upgrade pip

In [112]:
import pandas as pd

# Read multiple CSV files
calendar = pd.read_csv("../data/dim_calendar.csv")  # Calendar File
customer = pd.read_csv("../data/dim_customers.csv") # Customers File
location = pd.read_csv("../data/dim_location.csv")  # Location File
payment = pd.read_csv("../data/dim_payments.csv")  # Payments File
transcation = pd.read_csv("../data/dim_transactions.csv")  # Transcations File

In [113]:
calendar.head()

     date_key day_of_week    month  year quarter  is_holiday
0  2020-01-01   Wednesday  January  2020  2020Q1           0
1  2020-01-02    Thursday  January  2020  2020Q1           0
2  2020-01-03      Friday  January  2020  2020Q1           0
3  2020-01-04    Saturday  January  2020  2020Q1           1
4  2020-01-05      Sunday  January  2020  2020Q1           1

In [71]:
customer.head()

,customer_id,first_name,last_name,gender,age,dob,email,phone_number,is_churned,days_since_last_purchase,tenure,discount_used,last_purchase_date,purchase_frequency,avg_purchase_value
0,1,Patricia,Macdonald,Female,51,1973-12-16,wilsonchristopher@hotmail.com,(568)800-3705,1,590,3,0,2022-03-10,49,453.22
1,2,Destiny,Evans,Other,56,1968-07-13,garciarobert@meyers.info,3579858634,0,648,4,0,2024-07-02,23,49.87
2,3,Sarah,Stone,Other,21,2003-09-12,gregorynichols@contreras.info,(233)051-2972x83053,0,1783,10,0,2023-06-24,45,178.78
3,4,Tara,Peterson,Female,25,1999-06-04,wcaldwell@yahoo.com,+1-980-912-2768x5416,1,514,9,0,2022-10-09,48,408.14
4,5,Patrick,Petersen,Female,57,1967-11-21,matthew65@miller.com,001-770-382-4507x93902,0,689,2,1,2020-07-24,4,328.80

In [73]:
location.head()

                                                         <<<<<<< HEAD
﻿location_id shopping_mall    city        province_state      country
1            Mall of America  Bloomington Minnesota                US
2            The Galleria     Houston     Texas                    US
3            Westfield London London      England                  UK
4            Trafford Centre  Manchester  England                  UK

In [76]:
payment.head()

                                                <<<<<<< HEAD
payment_id payment_method           card_type            NaN
1          Credit Card - Visa       Visa                 NaN
2          Credit Card - MasterCard MasterCard           NaN
3          Credit Card - AMEX       AMEX                 NaN
4          Debit Card - Visa        Visa                 NaN

In [77]:
transcation.head()

,invoice_no,category,item,quantity,price,location_id,customer_id,invoice_date,payment_id
0,100000,Hair Care,Hair Oil,1,17.45,1,398,2023-03-22,2
1,100001,Body Care and Hygiene,Deodorant,4,20.81,21,938,2024-04-06,9
2,100002,Skin Care,Face Wash,4,40.96,17,258,2022-05-31,10
3,100003,Body Care and Hygiene,Body Lotion,2,27.50,9,892,2021-01-01,10
4,100004,Oral Care,Toothpaste,1,16.43,55,978,2020-02-10,7

In [78]:
calendar.shape

(4018, 6)

In [92]:
calendar.columns

Index(['date_key', 'day_of_week', 'month', 'year', 'quarter', 'is_holiday'], dtype='object')

In [79]:
customer.shape

(999, 15)

In [93]:
customer.columns

Index(['customer_id', 'first_name', 'last_name', 'gender', 'age', 'dob',
       'email', 'phone_number', 'is_churned', 'days_since_last_purchase',
       'tenure', 'discount_used', 'last_purchase_date', 'purchase_frequency',
       'avg_purchase_value'],
      dtype='object')

In [80]:
location.shape

(123, 1)

In [94]:
location.columns

Index(['location_id', 'shopping_mall', 'city', 'province_state', 'country'], dtype='object')

In [81]:
payment.shape

(23, 1)

In [88]:
payment.columns

Index(['<<<<<<< HEAD'], dtype='object')

In [82]:
transcation.shape

(10000, 9)

In [95]:
transcation.columns

Index(['invoice_no', 'category', 'item', 'quantity', 'price', 'location_id',
       'customer_id', 'invoice_date', 'payment_id'],
      dtype='object')

In [114]:
# Merge Calendar and Transaction table
merge_calendar_transaction = transcation.merge(calendar, left_on="invoice_date", right_on="date_key", how="left")
merge_calendar_transaction.head()

,invoice_no,category,item,quantity,price,location_id,customer_id,invoice_date,payment_id,date_key,day_of_week,month,year,quarter,is_holiday
0,100000,Hair Care,Hair Oil,1,17.45,1,398,2023-03-22,2,2023-03-22,Wednesday,March,2023,2023Q1,0
1,100001,Body Care and Hygiene,Deodorant,4,20.81,21,938,2024-04-06,9,2024-04-06,Saturday,April,2024,2024Q2,1
2,100002,Skin Care,Face Wash,4,40.96,17,258,2022-05-31,10,2022-05-31,Tuesday,May,2022,2022Q2,0
3,100003,Body Care and Hygiene,Body Lotion,2,27.50,9,892,2021-01-01,10,2021-01-01,Friday,January,2021,2021Q1,0
4,100004,Oral Care,Toothpaste,1,16.43,55,978,2020-02-10,7,2020-02-10,Monday,February,2020,2020Q1,0

In [ ]:
merge_calendar_transaction.shape

In [ ]:
calendar.shape

In [ ]:
transcation.shape

In [115]:
# Merge New and Customer table
merge_customer_calendar_transaction = merge_calendar_transaction.merge(customer, on="customer_id", how="left")
merge_customer_calendar_transaction.head()

,invoice_no,category,item,quantity,price,location_id,customer_id,invoice_date,payment_id,date_key,...,dob,email,phone_number,is_churned,days_since_last_purchase,tenure,discount_used,last_purchase_date,purchase_frequency,avg_purchase_value
0,100000,Hair Care,Hair Oil,1,17.45,1,398,2023-03-22,2,2023-03-22,...,1999-07-13,michealbender@gmail.com,(309)938-3205x8088,1.0,1056.0,8.0,0.0,2021-08-15,30.0,280.82
1,100001,Body Care and Hygiene,Deodorant,4,20.81,21,938,2024-04-06,9,2024-04-06,...,1995-01-18,nicholasclark@flowers.net,(363)377-7602,1.0,1494.0,1.0,0.0,2020-01-19,30.0,52.40
2,100002,Skin Care,Face Wash,4,40.96,17,258,2022-05-31,10,2022-05-31,...,2002-10-11,geraldcastro@mosley.com,661-041-4070x466,0.0,386.0,6.0,1.0,2021-04-06,42.0,165.90
3,100003,Body Care and Hygiene,Body Lotion,2,27.50,9,892,2021-01-01,10,2021-01-01,...,1992-12-29,vguerrero@green.org,712-518-4596x428,0.0,482.0,3.0,1.0,2022-05-17,28.0,427.81
4,100004,Oral Care,Toothpaste,1,16.43,55,978,2020-02-10,7,2020-02-10,...,1989-08-17,qfloyd@gmail.com,249-201-6223,0.0,1309.0,2.0,1.0,2023-01-28,31.0,321.20

In [99]:
customer.columns

Index(['customer_id', 'first_name', 'last_name', 'gender', 'age', 'dob',
       'email', 'phone_number', 'is_churned', 'days_since_last_purchase',
       'tenure', 'discount_used', 'last_purchase_date', 'purchase_frequency',
       'avg_purchase_value'],
      dtype='object')

In [116]:
# Merge New and Location table
merge_location_customer_calendar_transaction = merge_customer_calendar_transaction.merge(location, on="location_id", how="left")
merge_location_customer_calendar_transaction.head()

,invoice_no,category,item,quantity,price,location_id,customer_id,invoice_date,payment_id,date_key,...,days_since_last_purchase,tenure,discount_used,last_purchase_date,purchase_frequency,avg_purchase_value,shopping_mall,city,province_state,country
0,100000,Hair Care,Hair Oil,1,17.45,1,398,2023-03-22,2,2023-03-22,...,1056.0,8.0,0.0,2021-08-15,30.0,280.82,Mall of America,Bloomington,Minnesota,US
1,100001,Body Care and Hygiene,Deodorant,4,20.81,21,938,2024-04-06,9,2024-04-06,...,1494.0,1.0,0.0,2020-01-19,30.0,52.40,Fashion Show Mall,Las Vegas,Nevada,US
2,100002,Skin Care,Face Wash,4,40.96,17,258,2022-05-31,10,2022-05-31,...,386.0,6.0,1.0,2021-04-06,42.0,165.90,Lakeside Shopping Centre,Thurrock,Essex,UK
3,100003,Body Care and Hygiene,Body Lotion,2,27.50,9,892,2021-01-01,10,2021-01-01,...,482.0,3.0,1.0,2022-05-17,28.0,427.81,Bullring & Grand Central,Birmingham,West Midlands,UK
4,100004,Oral Care,Toothpaste,1,16.43,55,978,2020-02-10,7,2020-02-10,...,1309.0,2.0,1.0,2023-01-28,31.0,321.20,The Galleria at Fort Lauderdale,Fort Lauderdale,Florida,US

In [119]:
# Merge New and Location table
dataset = merge_location_customer_calendar_transaction.merge(payment, on="payment_id", how="left")
dataset.to_csv("../data/dataset.csv")
dataset.head()

,invoice_no,category,item,quantity,price,location_id,customer_id,invoice_date,payment_id,date_key,...,last_purchase_date,purchase_frequency,avg_purchase_value,shopping_mall,city,province_state,country,payment_method,card_type,Unnamed: 3
0,100000,Hair Care,Hair Oil,1,17.45,1,398,2023-03-22,2,2023-03-22,...,2021-08-15,30.0,280.82,Mall of America,Bloomington,Minnesota,US,Credit Card - MasterCard,MasterCard,NaN
1,100001,Body Care and Hygiene,Deodorant,4,20.81,21,938,2024-04-06,9,2024-04-06,...,2020-01-19,30.0,52.40,Fashion Show Mall,Las Vegas,Nevada,US,Apple Pay,NaN,NaN
2,100002,Skin Care,Face Wash,4,40.96,17,258,2022-05-31,10,2022-05-31,...,2021-04-06,42.0,165.90,Lakeside Shopping Centre,Thurrock,Essex,UK,Google Pay,NaN,NaN
3,100003,Body Care and Hygiene,Body Lotion,2,27.50,9,892,2021-01-01,10,2021-01-01,...,2022-05-17,28.0,427.81,Bullring & Grand Central,Birmingham,West Midlands,UK,Google Pay,NaN,NaN
4,100004,Oral Care,Toothpaste,1,16.43,55,978,2020-02-10,7,2020-02-10,...,2023-01-28,31.0,321.20,The Galleria at Fort Lauderdale,Fort Lauderdale,Florida,US,Cash,NaN,NaN

In [ ]:
# Example: Join customers and orders on 'customer_id'
merged_df1 = pd.merge(df4, df3, on="payment_id", how="inner")  # Inner Join
merged_df1.head()

In [ ]:
merged_df1.count()

In [ ]:

merged_df2 = pd.merge(merged_df1, df2, on="location_id", how="inner")  # Inner Join
merged_df2.head()

In [ ]:
merged_df2.count()

In [ ]:
merged_df3 = pd.merge(merged_df2, df1, on="customer_id", how="left")  # Inner Join
merged_df3.head()

In [ ]:
merged_df3.count()

In [ ]:
merged_df3['first_name']

In [ ]:
merged_df3.to_csv("fact_customer.csv")

In [ ]:
merged_df3.count()

In [ ]:
df1.count()